.active-song {
    display: flex;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 25px;
}
.active-song .song-img {
    background-color: rgba(0,0,0,.1);
    border-radius: 10px;
}
.active-song .song-des {
    padding: 10px 0 0 26px;
    min-width: 50%;
}
.active-song .song-play {
    padding: 16px 0 0 26px;
}
.active-song .song-play > a {
    position: relative;
    display: inline-block;
    border-radius: 50px;
    background-color: red;
    padding: 6px 20px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .5px;
    cursor: pointer;
    text-decoration: none;
    transition: .3s;
}
.active-song .song-play > a:hover {
    opacity: .8;
}