* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fcf7f7;
}
.main {
  padding: 20px;
  width: calc(100% - 250px);
  margin-left: auto;
}
h2,h4 {
  margin-bottom: .3em;
}
.main {
  padding-bottom: 80px;
}